<h2>Latest Tweets From Your Feed</h2>

{{#link-to 'tweet' 573347637430108160 class="spec-more-details-link"}}Your User Details{{/link-to}}</p>

{{#each}}
  <ul>
    <li>{{{text}}}</li>
  </ul>
{{/each}}

{{outlet}}
